{% extends 'base_email.html' %}
{% block preheader %}Confirmation of attendance for {{ h_name }}{% endblock %}

{% block content %}
    <p>Thank you {{ name }} for confirming your attendance to {{ h_name }}!</p>
    <p>We are really excited to host this event and have you with us.</p>

    <p>Since the situation with coronavirus is ever-changing, we reserve the right to change your live attendance to online attendance. In that case, you wouldn't be allowed to come to our venue.</p>

    <p>In order to make registration go smoother, please show us this QR code during the process so we can easily find
        you:</p>
    {% include 'mails/include/email_image.html' with url=qr_url %}
    {% include 'mails/include/cancel.html' %}
    {% include 'mails/include/arrival_departure_info.html' %}
    {% include 'mails/include/closing.html' %}
{% endblock %}
