{% extends 'base_email.html' %}
{% block preheader %}Acceptance email for {{ h_name }}{% endblock %}

{% block content %}
    <p>
        Congratulations {{ name }}, you have been officially invited to <b>{{ h_name }}</b> to participate <b>online</b>!
    </p>
    <p>
      Recently, we have decided to <strong>cancel all on-site participation</strong>. Everyone will be participating online or in Hubs.
    </p>
    <p>
        In case you haven't read our previous email, you can find more information at <a href="https://hackkosice.com/hk20/">https://hackkosice.com/hk20/</a>.
    </p>
    <p>
        Respond to this invitation by clicking on the "Confirm" link below.
        <b>Please confirm your spot within 7 days of receiving this email. Otherwise we will give your spot to another
            hacker on the waitlist.</b>
    </p>
    {% include 'mails/include/email_button.html' with text='Confirm' url=confirm_url %}
    {% include 'mails/include/cancel.html' %}
    {% include 'mails/include/closing.html' %}
{% endblock %}
